## .NET & Visual Studio Ignore
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.swp
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.appx
_ReSharper*/
*.VC.db
*.opendb
Assembling/
*.ps1
*.cmd
*.pri
*.winmd
*.dll
*.exe
*.pdb
*.json
!README.md
!Sources/**
!Files/**
Sources/StormInstaller/Resources/*.exe
Files/*.exe
Files/*.zip
